body {
    font-family: Ubuntu, Arial, sans-serif;
}

.header {
    padding-bottom: 10px;
}

.header-title {
    color: brown;
}

.table-cell {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border: lightgray solid 1px;
}

.table-cell-id {
    text-align: center;
}

.table-cell-title {
    color: brown;
}
